@font-face {
  font-family: 'Aachen';
  src: url('unicode.aachenb.eot'); /* IE9 Compat Modes */
  src: url('unicode.aachenb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('unicode.aachenb.woff') format('woff'), /* Modern Browsers */
       url('unicode.aachenb.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('unicode.aachenb.svg#dc6d2e017544373ab9e29b35c91a1d3a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

